.tab{
    transition: all 2s;
}
.htab{
    display: none;
}

.active{
    display: block;
}

body{
    transition: all 2s;
}
.nbarLogo{
    font-size: 20px;
    font-family: 'Coiny', cursive;
}
.item :hover{
    background-color: hsl(0, 0%, 48%);
}

.is-hidden{
    display: none;
}

#wrongEmail{
height: 0px;
display: none;
padding: 0px;
}

#wrongEmailBody{
    display: none;
}